/*
bg: #283040 -> dark bluegrey
*/

container{
	width: 250px;
	background-color: #283040;
	color: white;
}


container nav a{
	height: 100%;
	padding: 0;
	text-decoration: none;
	display: flex;
	align-items: left;
	color: white;
}

container nav a:hover{
	background-color: grey;
}