<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/base.css') }}"
	/>
	{% block links %}{% endblock %}
	<title>{% block title %}Loading{% endblock %}</title>
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %} 
                <div class="alert {{category}}" id="alert" role="alert">
                    {{ message }}
                    <button type="button" class="close-alert" onclick="closeAlert()" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
		{% endif %}
	{% endwith %}
{% block content %}{% endblock %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
	function closeAlert() {
		var alert = document.getElementById("alert");
		if (alert != null) {
			alert.style.display = "none";
		}
	}
	function showAlert() {
		var alert = document.getElementById("alert");
		alert.style.display = "block";
	}
	setTimeout(closeAlert, 3000);
	
	function toggleContent(id) {
		var content = document.getElementById(id);
		if (content.style.display === "none" || content.style.display === "") {
			content.style.display = "block";
		} else {
			content.style.display = "none";
		}
	}
	
	function confirm_alert(message) {
		var result = confirm(message);
			if (result == false) {
				event.preventDefault();
			}
	}

</script>
{% block js %}{% endblock %}
</body>
</html>